@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;
@include Loader-Spin;

/*Failed Auth*/
.dashboardFailed {
    background-color: $Background;
    height: 100vh;

    &__card {
        background: $Primary-White;
        border-radius: 6px;
        box-shadow: $Box-Shadow;
        float: left;
        left: 50%;
        margin: 0 auto;
        padding: 2rem 1rem;
        position: relative;
        text-align: center;
        top: 20%;
        transform: translate(-50%, 0%);
        width: 80%;

        &:hover {
            box-shadow: $Box-Hover;
        }

        &__text {
            padding-bottom: 1rem;
        }

        &__link {
            text-decoration: none;
            color: $Primary-Blue;
            @include M-SubHeader;

            @include tablet {
                @include T-SubHeader;
            }
        }
    }

    &__loader {
        height: 2.5rem;
        margin: 0 auto 1rem auto;
        position: relative;
        width: 4.375rem;
        margin-top: 1rem;

        &:before {
            border: 2px solid $Primary-Black;
            box-sizing: content-box;
            content: '';
            height: 0;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 0;
        }

        &-spin {
            animation: spin 2.25s linear infinite;
            height: 14px;
            left: 28px;
            position: absolute;
            top: 13px;
            width: 14px;

            &:before {
                border: 3px solid $Primary-Black;
                box-sizing: content-box;
                content: '';
                height: 14px;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
                width: 14px;
            }
        }
    }
}

/*dashboard*/