@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;


/*dashboard*/
.dashboard {
    &-page {
        display: flex;
        height: auto;
        min-height: 100vh;
        width: 100%;
        min-width: 100vw;
        background:rgba(196,206,212,1);
    }
    &-main {
        margin: 2rem 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        @include tablet {
            margin-left: 10rem;
        }

        @include desktop {
            margin-left: 13.5rem;
            margin-top: 3rem;
        }
    }
}