/*Responsive Design Breakpoints*/
$Tablet-Breakpoint: 48rem;
$Desktop-Breakpoint: 80rem;

/*Primary Colors (Orlanod Magic)*/
$Primary-Blue: #0077c0;
$Primary-Black: #000000;
$Primary-Silver: #C4CED4;
$Primary-White: #ffffff;

/*Font-Family*/
$Font-Family: 'Roboto', 'Times New Roman', sans-serif;

/*Font-Weights*/
$Font-Bold: 700;
$Font-Medium: 500;
$Font-Regular: 400;
$Font-Light: 300;

