/*Responsive Design Breakpoints*/
$Tablet-Breakpoint: 48rem;
$Desktop-Breakpoint: 80rem;

/*Primary Colors (Orlando Magic)*/
$Primary-Blue: #0077c0;
$Primary-Black: #000000;
$Primary-Silver: #C4CED4;
$Primary-White: #ffffff;

/*Main Content Background-Color*/
$Background: rgba($Primary-Silver, 0.5);
$Box-Shadow: 5px 5px 5px 5px rgba($Primary-Black, 0.25);
$Box-Hover: 7px 7px 7px 7px rgba($Primary-Black, 0.45);



/*Font-Family*/
$Font-Family: 'Roboto', 'Times New Roman', sans-serif;

/*Font-Weights*/
$Font-Bold: 700;
$Font-Medium: 500;
$Font-Regular: 400;
$Font-Light: 300;

