@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.ppgChart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;

    &__chart {
        width: 100%;
    }
}

