@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.loginPage {
    background-color: rgba($Primary-Silver, .5);
    height: 100vh;
    @include tablet {
        height: 100%;
        min-height: 100vh;
    }
}